<?xml version="1.0" encoding="UTF-8"?>
<suite name="final" verbose="2">
    <test name="Test">
        <classes>
            <class name="by.epam.web.pool.ConnectionPoolTest"/>
            <class name="by.epam.web.validation.ActivityValidatorTest"/>
            <class name="by.epam.web.validation.OrderValidatorTest"/>
            <class name="by.epam.web.validation.ReviewValidatorTest"/>
            <class name="by.epam.web.validation.UserValidatorTest"/>
            <class name="by.epam.web.validation.NumberValidatorTest"/>
        </classes>
    </test>
</suite>